<%= form_for(@roi) do |f| %>
  <% if @roi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roi.errors.count, "error") %> prohibited this roi from being saved:</h2>

      <ul>
      <% @roi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select :toi_no, Toi.all, :toi_no, :toi_name %>
  <div class="field">
    <%= f.label :roi_no %><br>
    <%= f.number_field :roi_no %>
  </div>
  <div class="field">
    <%= f.label :roi_name %><br>
    <%= f.text_field :roi_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
