<p id="notice"><%= notice %></p>

<p>
  <strong>Roi no:</strong>
  <%= @roi.roi_no %>
</p>

<p>
  <strong>Roi name:</strong>
  <%= @roi.roi_name %>
</p>

<%= link_to 'Edit', edit_roi_path(@roi) %> |
<%= link_to 'Back', rois_path %>
