<%= form_for(@corp) do |f| %>
  <% if @corp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corp.errors.count, "error") %> prohibited this corp from being saved:</h2>

      <ul>
      <% @corp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :corp_no %><br>
    <%= f.text_field :corp_no %>
  </div>
  <div class="field">
    <%= f.label :corp_name %><br>
    <%= f.text_field :corp_name %>
  </div>
  <div class="field">
    <%= f.label :corp_pos %><br>
    <%= f.text_field :corp_pos %>
  </div>
  <div class="field">
    <%= f.label :corp_rep %><br>
    <%= f.text_field :corp_rep %>
  </div>
  <div class="field">
    <%= f.label :corp_add %><br>
    <%= f.text_field :corp_add %>
  </div>
  <div class="field">
    <%= f.label :corp_tel %><br>
    <%= f.text_field :corp_tel %>
  </div>
  <div class="field">
    <%= f.label :corp_fax %><br>
    <%= f.text_field :corp_fax %>
  </div>
  <div class="field">
    <%= f.label :corp_mail %><br>
    <%= f.text_field :corp_mail %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
	<div class="field">
		<%= f.label :cds, "詳細" %><br />
		<%= f.fields_for :cds do |cds_form| %>
			<%= cds_form.label :roi_no, "登録業種" %>
			<%= cds_form.collection_select :roi_no, Roi.all, :roi_no, :roi_name %>
			<%#= cds_form.text_field :roi_no  %><br>
			<%= cds_form.label :mr, "平均実績高（千円）" %>
			<%= cds_form.text_field :mr  %><br>
			<%= cds_form.label :pp, "P点（総合評定値）" %>
			<%= cds_form.text_field :pp  %><br>
			<%= cds_form.label :note, "備考" %>
			<%= cds_form.text_area :note  %><br>
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
