<p id="notice"><%= notice %></p>

<h1>Listing Corps</h1>

<table>
  <thead>
    <tr>
      <th>Corp no</th>
      <th>Corp name</th>
      <th>Corp pos </th>
      <th>Corp rep</th>
      <th>Corp add</th>
      <th>Corp tel</th>
      <th>Corp fax</th>
      <th>Corp mail</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corps.each do |corp| %>
      <tr>
        <td><%= corp.corp_no %></td>
        <td><%= corp.corp_name %></td>
        <td><%= corp.corp_pos %></td>
        <td><%= corp.corp_rep %></td>
        <td><%= corp.corp_add %></td>
        <td><%= corp.corp_tel %></td>
        <td><%= corp.corp_fax %></td>
        <td><%= corp.corp_mail %></td>
        <td><%= corp.note %></td>
        <td><%= link_to 'Show', corp %></td>
        <td><%= link_to 'Edit', edit_corp_path(corp) %></td>
        <td><%= link_to 'Destroy', corp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corp', new_corp_path %>
